<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCEjwA2iNUij2vxFMyj-GJZc50XKkwpHqs</string>
	<key>GCM_SENDER_ID</key>
	<string>766958365181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jarvis</string>
	<key>PROJECT_ID</key>
	<string>demoapp-5d209</string>
	<key>STORAGE_BUCKET</key>
	<string>demoapp-5d209.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766958365181:ios:049fefe864ee54a9c91194</string>
</dict>
</plist>